.card {
  width: 20vw;
  padding: 2em;
  margin: 0.2em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #646cff;
  border-radius: 8px;
  background-color: #2a2a2a;
}

.stopwatch-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
