.card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  padding: 2px 2px;
  background-color: #0000;
  height: fit-content;
}
